.container {
    width: 100%;
    background: rgba(255, 183, 3, 0.17);
    height: 10.41em;
    margin-top: 22em;
    margin-bottom: 4em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    overflow: hidden;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.icons {
    height: 70%;
    width: 400%;
    margin-top: 1.5em;
    overflow: hidden;
}


.image {
    height: 3em;
    width: 3em;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.cimage {
    height: 3em;
    width: 2.669em;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.cssimage {
    height: 3em;
    width: 2.126em;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.figimage {
    height: 3em;
    width: 2.36em;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.rimage {
    height: 3em;
    width: 3.87em;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.tickeritem {
    width: 100%;
    display: flex;
    align-items: center;
}

.icontickerwrap {
    overflow: hidden;
    width: 100%;
}

.iconmove {
    display: flex;
    overflow: hidden;
}


@keyframes tickerh {
    0% { 
        transform: translateX(0%); 
    }

    100% { 
        transform: translateX(-75%); 
    }
}


.iconmove { animation: tickerh linear 180s infinite; }
